.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
.iconWithLabel {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer; /* Thêm hiệu ứng pointer khi hover vào */
}

.iconLabel {
  display: none; /* Ẩn label mặc định */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px; /* Đẩy label xuống dưới icon */
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.iconWithLabel:hover .iconLabel {
  display: block; /* Hiển thị label khi hover vào icon */
}